.clients {
    padding-top: 310px;//less then 400 because the last project simulate empty space if not hovered
    &__list {
        display: flex;
        justify-content: space-between;
        justify-content: center;
        align-items: center;
        gap: 180px;
        @include max-screen($xxxl) {
            gap: 150px;
        }
        @include max-screen($xxl) {
            gap: 120px;
        }
        @include max-screen($xl) {
            gap: 90px;
        }
        li {
            img {
                height: 60px;
            }
            &:nth-of-type(2) {
                img {
                    height: 35px;
                }
            }
            &:nth-of-type(3) {
                img {
                    height: 60px;
                }
            }
            &:nth-of-type(4) {
                img {
                    height: 50px;
                }
            }
        }
    }
}