.clients {
    padding-top: 310px;//less then 400 because the last project simulate empty space if not hovered
    @include max-screen($xl) {
        padding-top: 210px;
    }
    @include max-screen($lg) {
        padding: 180px 30px 0;
    }
    @include max-screen($md) {
        padding: 150px 30px 0;
    }
    &__list {
        display: flex;
        justify-content: space-between;
        justify-content: center;
        align-items: center;
        gap: 180px;
        @include max-screen($xxxl) {
            gap: 150px;
        }
        @include max-screen($xxl) {
            gap: 120px;
        }
        @include max-screen($xl) {
            gap: 90px;
            flex-wrap: wrap;
        }
        @include max-screen($lg) {
            gap: 60px;
        }
        @include max-screen($sm) {
            gap: 45px;
        }
        @include max-screen($xs) {
            justify-content: space-between;
        }
        li {
            img {
                height: 60px;
                @include max-screen($lg) {
                    height: 45px;
                }
                @include max-screen($sm) {
                    height: 35px;
                }
            }
            &:nth-of-type(2) {
                img {
                    height: 35px;
                    @include max-screen($lg) {
                        height: 30px;
                    }
                    @include max-screen($sm) {
                        height: 25px;
                    }
                }
            }
            &:nth-of-type(3) {
                img {
                    height: 60px;
                    @include max-screen($lg) {
                        height: 45px;
                    }
                    @include max-screen($sm) {
                        height: 35px;
                    }
                }
            }
            &:nth-of-type(4) {
                img {
                    height: 50px;
                    @include max-screen($lg) {
                        height: 40px;
                    }
                    @include max-screen($sm) {
                        height: 30px;
                    }
                }
            }
        }
    }
}