.footer {
    padding: 400px 30px 60px;
    @include max-screen($xl) {
        padding-top: 210px;
    }
    @include max-screen($lg) {
        padding-top: 180px;
    }
    @include max-screen($md) {
        padding-top: 150px;
    }
    &__contacts {
        margin-bottom: 90px;
        .contacts {
            &__title {
                display: block;
                width: 660px;
                max-width: 100%;
                margin: 0 auto;
                @include font-size(60);
                margin-bottom: 140px;
                text-align: center;
                opacity: 0;
                filter: blur(6px);
                @include max-screen($xxxl) {
                    @include font-size(52);
                    margin-bottom: 120px;
                }
                @include max-screen($xxl) {
                    @include font-size(52);
                }
                @include max-screen($xl) {
                    @include font-size(52);
                    margin-bottom: 110px;
                }
                @include max-screen($lg) {
                    @include font-size(48);
                    margin-bottom: 90px;
                }
                @include max-screen($md) {
                    margin-bottom: 60px;
                }
                @include max-screen($sm) {
                    @include font-size(42);
                    margin-bottom: 30px;
                }
            }
            &__list {
                display: flex;
                align-items: center;
                gap: 80px;
                justify-content: center;
                @include max-screen($lg) {
                    gap: 40px;
                }
                li {
                    position: relative;
                    &:not(:last-of-type) {
                        &::after {
                            content: '';
                            position: absolute;
                            width: 5px;
                            height: 5px;
                            border-radius: 100%;
                            background-color: $brand-secondary;
                            top: 50%;
                            right: -40px;
                            transform: translate(-50%, -50%);
                            @include max-screen($lg) {
                                right: -25px;
                            }
                        }
                    }
                    a {
                        @include font-size(24);
                        @include max-screen($sm) {
                            @include font-size(20);
                        }
                    }
                }
            }
        }
    }
    &__last_row {
        display: flex;
        gap: 60px;
        justify-content: center;
        span, span a {
            color: $light-grey;
            @include font-size(18);
        }
    }
    &__credits {
        &:hover {
            cursor: pointer;
        }
    }
}