header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 50px;
    @include max-screen($lg) {
        padding: 15px;
    }
    .navbar {
        position: relative;
        @extend %no-spacing;
        .menu-icon {
            position: relative;
            width: 25px;
            height: 25px;
            cursor: pointer;
            z-index: 2;
        
            .menu-icon__cheeckbox {
                display: block;
                width: 100%;
                height: 100%;
                position: relative;
                cursor: pointer;
                z-index: 3;
                -webkit-touch-callout: none;
                position: absolute;
                opacity: 0;
            }
            div {
                margin: auto;
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                width: 22px;
                height: 12px;
            }
            span {
                position: absolute;
                display: block;
                width: 100%;
                height: 1px;
                background-color: $brand-secondary;
                border-radius: 1px;
                transition: $default-transition;
        
                &:first-of-type {
                    top: 0;
                }
                &:last-of-type {
                    bottom: 0;
                }
            }
            &.active,
            .menu-icon__cheeckbox:checked + div {
                span {
                    &:first-of-type {
                        transform: rotate(45deg);
                        top: 5px;
                    }
                    &:last-of-type {
                        transform: rotate(-45deg);
                        bottom: 6px;
                    }
                }
            }
        
            &.active:hover span:first-of-type,
            &.active:hover span:last-of-type,
            &:hover .menu-icon__cheeckbox:checked + div span:first-of-type,
            &:hover .menu-icon__cheeckbox:checked + div span:last-of-type {
                width: 22px;
            }
        
            &:hover {
                @include min-screen($lg) {
                    span:first-of-type {
                        width: 26px;
                    }
        
                    span:last-of-type {
                        width: 12px;
                    }
                }
            }
        }
        .menu {
            position: fixed;
            bottom: 0;
            left: 100%;
            @include setDimensions(100%, 100vh);
            background-color: $brand-primary;
            border-left: solid 1px #333;
            @include flex-direction-align(column);
            transition: all 0.8s cubic-bezier(0.76, 0, 0.24, 1);
            &.collapsed {
                left: -1px;
            }
            &__body {
                height: 100%;
                .row {
                    height: 100%;
                    .menu__links-column {
                        height: 100%;
                        @include flex-justify-align(center, center);
                        .menu__links {
                            li {
                                margin-bottom: 20px;
                                &:last-of-type {
                                    margin: 0;
                                }
                                a {
                                    font-size: 54px;
                                    font-family: $font-titles;
                                    line-height: 1.25;
                                    &::before {
                                        transition: all 0.5s cubic-bezier(1, 0, 0.24, 1);
                                    }
                                }
                            }
                        }
                    }
                    .menu__content-column {
                        @include flex-align(center);
                        .menu__content {
                            max-width: 500px;
                            .text_logo {
                                font-size: 84px;
                                margin-bottom: 20px;
                            }
                            .menu__paragraph {
                                font-size: 24px;
                                margin-bottom: 20px;
                            }
                            .contact_list {
                                @include flex-direction-align(row, center);
                                li {
                                    margin-right: 30px;
                                }
                            }
                        }
                    }
                }
            }
        }

    }
    
}