.hero {
    height: 100vh;
    .container {
        position: relative;
        height: 100%;
        @include flex-justify-align(center, center);
    }
    &__image {
        max-height: 80vh;
        border-top-left-radius: 256px;
        @include max-screen($lg) {
            max-height: 70vh;
            padding: 0 30px;
            max-width: 100%;
        }
        @include max-screen($md) {
            max-width: 80vw;
        }
        @include max-screen($sm) {
            padding: 0 15px;
            border-top-left-radius: 175px;
        }
    }
    &__title {
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        transform: translateX(-50%);
        
        opacity: 0;
        filter: blur(6px);
        //transition: filter 0.8s;        will-change: filter;
        
        @include font-size(290);
        @include max-screen($xl) {
            @include font-size(250);
        }
        @include max-screen($lg) {
            @include font-size(220);
        }
        @include max-screen($md) {
            @include font-size(170);
        }
        @include max-screen($sm) {
            @include font-size(120);
        }
        @include max-screen($xs) {
            @include font-size(92);
        }
    }
    &__subtitle {
        font-family: $font-paragraphs;
        @include font-size(36);;
        position: absolute;
        top: 20%;
        left: 0;
        opacity: 0;
        @include max-screen($md) {
            @include font-size(32);
            left: 10px;
        }
        @include max-screen($sm) {
            @include font-size(30);
        }
        @include max-screen($xs) {
            @include font-size(26);
        }
    }
    &__cta {
        position: absolute;
        bottom: 10vh;
        right: 0;
        opacity: 0;
        @include max-screen($xxl) {
            bottom: 7.5vh;
        }
        @include max-screen($xl) {
            bottom: 5vh;
        }
        @include max-screen($sm) {
            right: 5vh;
        }
        /*&:hover {
            cursor: pointer;
        }*/
        img {
            width: 150px;
            /*@include max-screen($lg) {
                width: 150px;
            }*/
            animation: rotateFull 6s linear infinite;
            transition: none;
            @include max-screen($md) {
                width: 130px;
            }
            @include max-screen($sm) {
                width: 110px;
            }
            @include max-screen($xs) {
                width: 96px;
            }
        }
    }
}

