.intro {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    @include max-screen($lg) {
        height: unset;
        padding: 120px 0;
    }
    &__content {
        width: 100%;
        padding: 0 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__text {
        display: block;
        max-width: 1040px;
        margin-bottom: 60px;
        text-align: center;
        opacity: 0;
        filter: blur(6px);
        @include font-size(64);
        @include max-screen($xl) {
            @include font-size(60);
        }
        @include max-screen($lg) {
            @include font-size(54);
        }
        @include max-screen($md) {
            @include font-size(46);
        }
        @include max-screen($sm) {
            @include font-size(36);
        }
        @include max-screen($xs) {
            @include font-size(32);
        }
    }
    .small_divider {
        margin-bottom: 30px;
    }
    &__links {
        display: flex;
        gap: 54px;
    }
    &__link {
        @include font-size(28);
    }
}