.menu {
    position: fixed;
    top: $header-height;
    right: 0;
    @include setDimensions(100vw, calc(100vh - #{$header-height}));
    background-color: $brand-primary;
    @include flex-direction-align(column);
    display: none;
    opacity: 0;
    z-index: 2;

    hr {
        background-color: #dedede;
        width: 0;
        transform-origin: right;
        @extend %no-spacing;
    }
    
    &__body {
        height: 100%;
        li {
            overflow: hidden;
        }
        .row {
            height: 100%;
            .menu__links-column {
                height: 100%;
                @include flex-justify-align(center, center);
                @include max-screen($lg) {
                    height: calc(100% - 120px);
                }
                .menu__links {
                    li {
                        margin-bottom: 20px;
                        &:last-of-type {
                            margin: 0;
                        }
                        a {
                            @include font-size(72);
                            font-family: $font-titles;
                            @include max-screen($xxl) {
                                @include font-size(68);
                            }
                            @include max-screen($xl) {
                                @include font-size(64);
                            }
                            @include max-screen($lg) {
                                @include font-size(60);
                            }
                            &:hover {
                                &::before {
                                    @include min-screen($lg) {
                                        width: 100%;
                                    }
                                }
                            }
                            &::before {
                                height: 2px;
                                width: 0%;
                                right: unset;
                                left: 0;
                                transition: width 0.5s cubic-bezier(1, 0, 0.24, 1);
                            }
                        }
                    }
                }
            }
            .menu__content-column {
                @include flex-align(center);
                @include max-screen($lg) {
                    justify-content: center;
                    height: 120px;
                }
                .menu__content {
                    //max-width: 500px;
                    .text_logo {
                        @include font-size(84);
                        margin-bottom: 20px;
                        @include max-screen($xxl) {
                            @include font-size(78);
                        }
                        @include max-screen($xl) {
                            @include font-size(74);
                        }
                        @include max-screen($lg) {
                            @include font-size(70);
                        }
                        @include max-screen($sm) {
                            @include font-size(66);
                        }
                        @include max-screen($sm) {
                            @include font-size(62);
                        }
                    }
                    .menu__paragraph {
                        @include font-size(24);
                        margin-bottom: 20px;
                    }
                    .contact_list {
                        @include flex-direction-align(row, center);
                        gap: 30px;
                        @include max-screen($lg) {
                            gap: 60px;
                        }
                        li {
                            a {
                                &::before {
                                    content: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
